/*

#############################
### MOLECULE: filter-bubbles ###
#############################

### INFO:

The filter-bubble molecule is a simple button used to filter content based on their respected category. It contains a simple text atom with a  box-shadow

### MODIFIERS:
  currently no modifiers.
*/

@import '../../extends';
@import '../../functions';
@import '../../mixins';
@import '../../variables';
@import '../atoms/_text';
@import '../atoms/_color';

.#{molecule('filter-bubble')} {
  @include txt;
  @include txt-3;
  @include txt-strong;
  @include filter-bubble-shadow-regular;
  border-radius: 25px;
  border: none;
  padding: 5px 10px;
  background: color('white');
  color: color('oslo-gray');
  cursor: pointer;
  margin: 5px 5px;
  &[name="none"] {
    display: none;
  }

  @media (min-width: 550px) {
    padding: 5px 20px;
    margin: 5px 10px;
  }

  @media (min-width: 768px) {
    margin: 5px;
    padding: 5px 20px;
  }

  &:hover, &.filtered {
    @include filter-bubble-shadow-selected;
    background: color('blue-ribbon');
    color: color('white');
  }
  &:focus {
    outline: none;
  }


  &-format {
    position: relative;
    display: flex;
    padding: 5px 20px;
    margin: 0;
    font-size: 12px;
    font-family: 'Noto Sans', sans-serif;
    color: color('silver');
    background: color('white');
    transition: 200ms;
    box-shadow: 0 5px 25px 0px rgba(0,0,0,0.25);

    &:hover {
      box-shadow: 0 15px 35px 0px rgba(0,0,0,0.15);
    }

    &.websites .#{atom('ico')} { fill: #CCC; font-size: 21px; }
    &.ads .#{atom('ico')} { fill: #CCC; font-size: 19px; }
    &.stories .#{atom('ico')} { fill: #CCC; font-size: 19px; }
    &.email .#{atom('ico')} { fill: #CCC; font-size: 19px; }

    &.chosen {
      padding-left: 12px;
      padding-right: 28px;
    }

    &.hover,
    &.active {
      &.websites {
        @include gradient-websites; color: color('white');
        .#{atom('ico')} { fill: color('white'); }
      }

      &.stories {
        @include gradient-stories; color: color('pigment-indigo');
        .#{atom('ico')} { fill: color('pigment-indigo'); }
      }

      &.ads {
        @include gradient-ads; color: color('white');
        .#{atom('ico')} { fill: color('white'); }
      }

      &.email {
        @include gradient-e-mails; color: color('ultramarine');
        .#{atom('ico')} { fill: color('ultramarine'); }
      }
    }

    &-icon {
      display: inline-flex;
      margin: 0 2px 2px 0;
      vertical-align: middle;
    }

    &-reset {
      overflow: hidden;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      position: absolute;
      width: 0;
      height: 100%;
      top: 0;
      right: 0;

      svg {
        width: 8px;
        height: 8px;
        margin: 1px -10px 0 0;
        opacity: 0;
        transition: 200ms;
      }

      &.show {
        width: 100%;

        svg {
          margin-right: 10px;
          opacity: 1;
        }
      }

      &:focus {
        outline: none;
      }
    }

    &:focus {
      outline: none;
    }
  }
}
